.movies{
    width: 100%;
}

.movies__container{
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    display: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
