.profile { 
    /* Ширина контейнера */
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__form{
    width: 100%;
    max-width: 470px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 30px;
}


.profile__title {
    /* Сброс */
    margin: 0 0;
    /* Стиль текста */
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
 }

.profile__fieldset{
    width: 100%;
    /* Сброс */
    margin: 0 0;
    padding: 0 0;
    border: none;
    /* Отступ сверху */
    margin-top: 120px;
 }

.profile__input-container { 
    height: 33px;
    border-bottom: 1px solid #424242;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.profile__input-container:last-child{
    border-bottom: none;
}

.profile__label {
    margin-top: 3px;
    width: 40%;
    /* Стиль текста */
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
}

.profile__input { 
    width: 60%;
    height: 100%;
    /* Сброс */
    padding: 0 0;
    border: none;
    outline: none;
    /* Стиль текста */
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
    background: #202020;
}

.profile__input:focus { 
    /* Сброс при введении*/
    background: inherit;
}


.button{
    /* Сброс */
    padding: 0 0;
    border: none;
}

.profile__button{
    width: 100%;
    cursor: pointer;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background: #202020;
}


.profile__error{
    display: flex;
    flex-direction: column;
    margin: 2px 0 2px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    min-height: 12px;
    color: #EE3465;
}

.profile__server-error{
    margin: 100px 0 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    font-size: 11px;
    line-height: 14px;
    color: #EE3465;
}

.profile__succes-message{
    margin: 12px 0 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    font-size: 11px;
    line-height: 14px;
    color: white;
}

.profile__submit{
    width: 100%;
    max-width: 410px;
    height: 45px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    padding: 13px 15px 15px;
    color: #FFF;
    background-color: #3456F3;
    border: none;
}

.profile__submit:disabled{
    color: #C2C2C2;
    background: #F8F8F8;
}

.button_type_edit-profile{
    margin: 100px 0 16px;
}

.button_type_logout{
    color: #EE3465;
}

@media (max-width: 420px) {
    .profile__fieldset{
        /* Отступ сверху */
        margin-top: 80px;
     }
    
}